{% extends 'base.html' %}

{% block body %}

        <article>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{jeu.title}} : {{jeu.id}} </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>

            <div>
            
            <h4>Les détails du jeu</h4>

            <ul>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident quis alias velit debitis voluptatum minus, vitae aperiam? Hic tenetur ducimus at delectus incidunt! Rerum, in!</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident quis alias velit debitis voluptatum minus, vitae aperiam? Hic tenetur ducimus at delectus incidunt! Rerum, in!</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident quis alias velit debitis voluptatum minus, vitae aperiam? Hic tenetur ducimus at delectus incidunt! Rerum, in!</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident quis alias velit debitis voluptatum minus, vitae aperiam? Hic tenetur ducimus at delectus incidunt! Rerum, in!</li>
            </ul>

            </div>

        </article>

{% endblock %}
